.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  height: 52px;
  padding: 0 5%;
  position: fixed;
  width: 90vw;
  top: 0;
  z-index: 1000;
  nav {
    menu {
      display: flex;
      gap: 5px;
      list-style-type: none;
      li {
        a {
          padding: 6px 12px;
          &.active {
            color: red;
            border-bottom: 1px solid red;
          }
          &.disabled {
            color: gray;
            border-bottom: 1px solid gray;
          }
          &:hover {
            color: black;
            border-bottom: 1px solid black;
          }
        }
      }
    }
  }
}
