.appCard {
  text-align: center;
  width: 300px;
  background-color: beige;
  border-radius: 10px;
  h1 {
    background-color: #00883355;
  }
  .app-container {
    padding: 10px 16px;
    opacity: 0.6;
  }
}
